.main-info {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
.main-info h1 {
    text-transform: uppercase;
}

.typed-text {
    font-family: "Helvetica Neue";
    font-size: 2.1rem;
    color: rgb(250, 250, 250);
}

@media(max-width: 768px) {
    .main-info h1{
        font-size: 1.5rem !important;
    }
    .typed-text{
        font-size: 1.3rem !important;
    }
}
