/*************** Header ***************/
.header-wrapper {
  position: relative;
  z-index: 10;
  height: 90vh;
}
.header-wrapper::after {
    content: "";
    background: url('./images/bg.jpg') center center no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
body::-webkit-scrollbar{
  width: 8px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: rgba(255, 230, 0, 0.973);
    border-radius: 70px;
  }
  body::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.89);
  }
