/*************** Header ***************/
.header-wrapper {
    position: relative;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
/*************** Particles ***************/
.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;

}
@media(max-width:768px){
    .particles-canvas{
        display: none;
    }
}